@model IEnumerable<practicando.Models.Post>

@{
    ViewData["Title"] = "Listado de Publicaciones";
}

<h2>Listado de Publicaciones</h2>

@if (Model != null && Model.Any())
{


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Resumen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@(post.Body.Length > 100 ? post.Body.Substring(0, 100) + "..." : post.Body)</td>
                    <td>
                        <a asp-action="Detalles" asp-route-id="@post.Id" class="btn btn-primary">Ver</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron publicaciones.</p>
}

<pre>@System.Text.Json.JsonSerializer.Serialize(Model)</pre>
